<h3>Top score</h3>
<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th (click)="onSortScores()" style="cursor: pointer;">
                Score
                <i *ngIf="scoresSortedAZ" class="bi bi-sort-alpha-down"></i>
                <i *ngIf="!scoresSortedAZ" class="bi bi-sort-alpha-down-alt"></i>
            </th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let score of scores | eventsSort:'score':scoresSortedAZ; index as i">
            <td>{{i+1}}</td>
            <td>{{score['name']}}</td>
            <td>{{score['score']}}</td>
        </tr>
    </tbody>
</table>

<!-- <button (click)="onClick()">Test add player</button> -->
