<html>
    <head>
        <title>Podatek</title>
    </head>
    <body>
        <h1 style="color: maroon;">Kalkulator podatku</h1>
        <h3>Cena: <span>{{amount}}</span></h3>
        <h3>Podatek: <span>{{tax}}</span></h3>
        <h2>Obliczony podatek: <span>{{amountTax}}</span></h2>
        <h2>Kwota bez podatku: <span>{{amountWithoutTax}}</span></h2>
    </body>
</html>
