<div class="row">
	<div class="col-12">
        <h1>
            Tetris
            <small>written in Angular</small>
        </h1>
    </div>

	<div class="col-md-5 col-xl-6 d-flex justify-content-center">
		<tetris-core #game
			(lineCleared)="onLineCleared()"
			(gameOver)="onGameOver()" >
		</tetris-core>
	</div>

	<div class="col-md-7 col-xl-6">

		<h4>Welcome, {{person.name}} <small>{{person.email}}</small></h4>
		<p>{{gameStatus}}</p>
		<button class="btn btn-outline-dark mx-1" (click)="onGameStart()">
			{{ game.state == 1 ? 'Pause': 'Start'}}
		</button>
		<button class="btn btn-outline-dark mx-1" (click)="onGameReset()">Restart</button>
		<button class="btn btn-outline-danger mx-1" (click)="onGameExit()">Exit game</button>
		<hr>
		<div style="font-size: 1.25rem;" class="d-flex justify-content-around">
			<p>Score: <b>{{points}}</b></p>
			<p>Time played: <b><app-timer #timer></app-timer></b></p>
		</div>
		
		<div class="form-group">
			<label for="event-select">Show game events</label>
			<select [(ngModel)]="showGameEvents" id="event-select" class="form-select">
				<option value="all">Show all</option>
				<option value="started">Game started/restarted</option>
				<option value="stopped">Game stopped</option>
				<option value="over">Game over</option>
				<option value="exitted">Game exitted</option>
				<option value="cleared">Line cleared</option>
			</select>
		</div>

		<div class="mt-1" style="max-height: 460px; overflow-y:scroll;">
			<table class="table table-hover">
				<thead>
					<tr>
						<th (click)="onSortEvents()" style="cursor: pointer;" >
							Time
							<i *ngIf="sortedAZ" class="bi bi-sort-alpha-down"></i>
							<i *ngIf="!sortedAZ" class="bi bi-sort-alpha-down-alt"></i>
						</th>
						<th>Event</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let item of history | eventsFilter:'message':showGameEvents | eventsSort:'timestamp':sortedAZ">
						<td>{{item.timestamp | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
						<td>{{item.message}}</td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>

	<div class="col-12 my-4">
		<p>Use arrow keys to steer LEFT, RIGHT, DOWN; UP - to rotate; SPACEBAR - to start/pause.</p>
	</div>

</div>