<div class="row">
    <div class="col-12">
        <h1>
            Tetris
            <small>written in Angular</small>
        </h1>
    </div>

    <div class="col-6">
        <form #personForm="ngForm">

            <div class="form-group">
                <label for="name-input">Enter Your name:</label>
                <input ngModel #name="ngModel" id="name-input" name="name"
                    class="form-control" type="text" required minlength="3" />
                <!-- Errors section -->
                <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
                    <div *ngIf="name.errors.required">Your name is required.</div>
                    <div *ngIf="name.errors.minlength">
                        Your name should be mininum {{name.errors.minlength.requiredLength}} characters.</div>
                    <div *ngIf="name.errors.pattern">Your name should start with a letter.</div>
                </div>
            </div>

            <div class="form-group">
                <label for="email-input">Enter Your e-mail:</label>
                <input ngModel #email="ngModel" id="email-input" name="email" class="form-control" type="text" required email="true" />
                <!-- Errors section -->
                <div class="alert alert-danger" *ngIf="email.touched && email.invalid">
                    <div *ngIf="email.errors.required">Your e-mail is required.</div>
                    <div *ngIf="email.errors.email">Please enter your valid e-mail.</div>
                </div>
            </div>

            <button (click)="start(personForm.form)" class="btn btn-outline-secondary my-3 float-right">Start</button>

        </form>
    </div>

    <div class="col-6">
        <p>Niniejsza aplikacja powstała jako zaliczenie z przedmiotu Angular na studiach podyplomowych.
            Wykorzystano bibiotekę <a href="https://www.npmjs.com/package/ngx-tetris">ngx-tetris</a>.</p>
        <app-players-list></app-players-list>
    </div>

    <div class="col-12 my-4"></div>

</div>
