<header>
  <nav class="navbar">
    <a class="navbar-brand">
      Tetris game in Angular -
      <small>ngx-tetris</small>
    </a>
    <div class="d-flex">
      <a class="nav-link text-center {{view=='intro'?'active':''}}" href="#">
        Intro
      </a>
      <a class="nav-link text-center {{view=='game'?'active':''}}" href="#">
        Game
      </a>
    </div>
  </nav>
</header>

<div class="container-fluid page-content">

  <app-intro *ngIf="view=='intro'"
    (startEvent)="onGameStart($event)"></app-intro>

  <app-game *ngIf="view=='game'"
    (exitEvent)="onGameExit()"
    [person]="person"></app-game>

</div>
