<header>
  <nav class="navbar">
    <a class="navbar-brand">
      Tetris game in Angular -
      <small>ngx-tetris</small>
    </a>
    <div class="d-flex">
      <a class="nav-link text-center active" href="">
        Intro
      </a>
      <a class="nav-link text-center" href="">
        Game
      </a>
      <a class="nav-link text-center" href="">
        Credits
      </a>
      <a class="nav-link text-center" href="">
        More
      </a>
    </div>
  </nav>
</header>

<div class="container-fluid page-content">

  <app-intro></app-intro>
  <!-- <app-game></app-game> -->

</div>
