<header>
  <nav class="navbar">
    <a class="navbar-brand">
      Tetris game in Angular -
      <small>ngx-tetris</small>
    </a>
    <div class="d-flex">
      <!-- <a class="nav-link text-center {{view=='intro'?'active':''}}" href="#"> -->
        <a class="nav-link text-center" routerLink="/intro" routerLinkActive="active">
        Intro
      </a>
      <a class="nav-link text-center" routerLink="/game" routerLinkActive="active" >
        Game
      </a>
      <a class="nav-link text-center" routerLink="/scores" routerLinkActive="active" >
        My results
      </a>
    </div>
  </nav>
</header>

<div class="container-fluid page-content">

  <router-outlet></router-outlet>

  <!-- <app-intro
    (startEvent)="onGameStart($event)"></app-intro>

  <app-game
    (exitEvent)="onGameExit()"
    [player]="player"></app-game> -->

</div>
